<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTitle</key>
	<string>项目Two</string>
	<key>AppID</key>
	<string>Azuo520</string>
	<key>AppUpdateURL</key>
	<string>http://zheshizhongwen.com</string>
	<key>DefaultCity</key>
	<string>妖都</string>
	<key>BaseData</key>
	<dict>
		<key>icon_image_base</key>
		<array>
			<string>icon.png</string>
			<string>icon@2x.png</string>
		</array>
		<key>icon_images folder</key>
		<string>Images1</string>
		<key>document_folder</key>
		<string>Document1</string>
	</dict>
	<key>InitEnvelope</key>
	<dict>
		<key>xmin</key>
		<integer>100</integer>
		<key>xmax</key>
		<integer>100</integer>
		<key>ymin</key>
		<integer>100</integer>
		<key>ymax</key>
		<integer>100</integer>
	</dict>
	<key>MyTools</key>
	<array>
		<dict>
			<key>title</key>
			<string>测面积</string>
			<key>class</key>
			<string>Measure_area</string>
			<key>icon</key>
			<string>iocn_Measure_area</string>
		</dict>
		<dict>
			<key>title</key>
			<string>手绘</string>
			<key>class</key>
			<string>PaintCommand</string>
			<key>icon</key>
			<string>biaohui</string>
			<key>customize</key>
			<string>{&quot;belowSubview&quot;:&quot;_clearStatusButton&quot;}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>边界管控</string>
			<key>class</key>
			<string>BJGKPaintCommand</string>
			<key>icon</key>
			<string>bianjie</string>
			<key>customize</key>
			<string>{&quot;belowSubview&quot;:&quot;_clearStatusButton&quot;}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>定位</string>
			<key>class</key>
			<string>LocationCommand</string>
			<key>icon</key>
			<string>location</string>
			<key>customize</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>比对</string>
			<key>class</key>
			<string>MapCompareCommand</string>
			<key>icon</key>
			<string>bidui</string>
			<key>customize</key>
			<string>{&quot;hidingControls&quot;:[&quot;_mapToolsButton&quot;,&quot;_mapToolsButtonContainer&quot;],&quot;delegates&quot;:{&quot;hideLeftPanel&quot;:&quot;self&quot;,&quot;closeMapSwitches&quot;:&quot;self&quot;},&quot;mapOperationSegControl&quot;:&quot;_mapOperationSegControl&quot;,&quot;topMapViewIndicator&quot;:&quot;_topLayerButton&quot;,&quot;bottomMapViewIndicator&quot;:&quot;_bottomLayerButton&quot;,&quot;bottomMapView&quot;:&quot;_bottomMapView&quot;}</string>
		</dict>
	</array>
	<key>BusinessKey</key>
	<dict>
		<key>UUCD</key>
		<string>e1a2fssdadgthsi4daf</string>
	</dict>
	<key>MeasureViewController_xib</key>
	<dict>
		<key>xib_name</key>
		<string>CustomShowViewController_two</string>
	</dict>
	<key>UpdateCheck-permission</key>
	<true/>
	<key>Other_addition</key>
	<string>???</string>
	<key>MapOperation</key>
	<dict>
		<key>classsName</key>
		<string>MapOperation_measure</string>
	</dict>
</dict>
</plist>
